@import '../../vendor/filament/filament/resources/css/app.css';

@tailwind utilities;

:root{
    --sidebar-width:16rem;
}

body{
    font-size:14px;
}

@layer components {
    .filament-sidebar{
        @apply !bg-primary-800 dark:!bg-gray-700 text-white
    }

    .filament-sidebar-nav ul{
        /* @apply !px-0; */

    }


    .filament-sidebar-item-active a{
        /* @apply !rounded-sm */
    }

    .filament-sidebar-group button div{
        @apply !text-gray-300
    }

    .filament-sidebar-nav ul li > div{
        @apply !mr-0 !border-gray-700
    }

    .filament-button {
      @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 !px-5 !py-0;
    }

    /* .filament-forms-text-input-component{
        @apply !py-0
    }

    .filament-forms-text-input-component input{
        @apply !rounded-sm !bg-red-200 !py-0
    } */

    /* .filament-header-heading{} */

    /* input{
        @apply !rounded-sm !py-1.5;
    } */

    .filament-forms-text-input-component input{
        /* @apply !py-1.5 */
    }

    ::-webkit-scrollbar {
        
        width: 5px;   
        height:5px;
    }

    ::-webkit-scrollbar-track{
        @apply !bg-primary-800;
    }

    ::-webkit-scrollbar-thumb{
        @apply !bg-primary-400 dark:!bg-primary-600;
    }
  }
  

 